Resources/MobileMoney-ECW/MT/gettransactionhistory/common_v11.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" version="1.0" targetNamespace="http://www.ericsson.com/em/emm/v1_1/common" xmlns:ns1="http://www.ericsson.com/em/emm/v1_0/common" xmlns:op="http://www.ericsson.com/em/emm/v1_1/common" xmlns:tns="http://www.ericsson.com/em/emm/v1_1/common" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:import namespace="http://www.ericsson.com/em/emm/v1_0/common" schemaLocation="../../v1.0/common/common.xsd" />

  <xs:complexType name="accountholderbasicinfotype">
    <xs:sequence>
      <xs:element name="msisdn" type="xs:string" minOccurs="0"/>
      <xs:element name="firstname" type="xs:string" minOccurs="0"/>
      <xs:element name="surname" type="xs:string" minOccurs="0"/>
      <xs:element name="profilename" type="xs:string" minOccurs="0"/>
      <xs:element name="internalidentity" type="xs:string" minOccurs="0"/>
      <xs:element name="defaultfri" type="xs:string" minOccurs="0"/>
      <xs:element name="defaultfricurrency" type="ns1:currencycode" minOccurs="0"/>
      <xs:element name="loyaltypointsaccountfri" type="xs:string" minOccurs="0"/>
      <xs:element name="acceptedtc" type="ns1:acceptedtc" minOccurs="0"/>
      <xs:element name="accountholderstatus" type="ns1:accountholderstatus" minOccurs="0"/>
      <xs:element name="bankdomainname" type="xs:string" minOccurs="0"/>
      <xs:element name="homechargingregionname" type="xs:string" minOccurs="0"/>
      <xs:element name="accountholdertype" type="xs:string" minOccurs="0"/>
      <xs:element name="hasparent" type="xs:boolean" minOccurs="0"/>
      <xs:element name="languagecode" type="ns1:languagecode" minOccurs="0"/>
      <xs:element name="children" nillable="true" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="child" type="tns:accountholderbasicinfotype" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="gettransactionhistoryentrytype">
    <xs:sequence>
      <xs:element name="financialtransactionid" type="xs:string" minOccurs="0"/>
      <xs:element name="transactionstatus" type="ns1:financialtransactionstatus" minOccurs="0"/>
      <xs:element name="transfertype" type="tns:transfertype" minOccurs="0"/>
      <xs:element name="startdate" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="commitdate" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="fxrate" type="xs:decimal" minOccurs="0"/>
      <xs:element name="initiatinguser" type="xs:string" minOccurs="0"/>
      <xs:element name="realuser" type="xs:string" minOccurs="0"/>
      <xs:element name="initiatingaccountholder" type="xs:string" minOccurs="0"/>
      <xs:element name="realaccountholder" type="xs:string" minOccurs="0"/>
      <xs:element name="from" type="xs:string" minOccurs="0"/>
      <xs:element name="fromaccount" type="xs:string" minOccurs="0"/>
      <xs:element name="fromamount" type="ns1:moneydetailstype" minOccurs="0"/>
      <xs:element name="fromfee" type="ns1:moneydetailstype" minOccurs="0"/>
      <xs:element name="fromexternalfee" type="ns1:moneydetailstype" minOccurs="0"/>
      <xs:element name="fromdiscount" type="ns1:moneydetailstype" minOccurs="0"/>
      <xs:element name="frompromotion" type="ns1:moneydetailstype" minOccurs="0"/>
      <xs:element name="fromloyfee" type="xs:decimal" minOccurs="0"/>
      <xs:element name="fromloyreward" type="xs:decimal" minOccurs="0"/>
      <xs:element name="frompromotionrefund" type="ns1:moneydetailstype" minOccurs="0"/>
      <xs:element name="fromnote" type="xs:string" minOccurs="0"/>
      <xs:element name="fromavailablebalance" type="ns1:moneydetailstype" minOccurs="0"/>
      <xs:element name="fromtotalbalance" type="ns1:moneydetailstype" minOccurs="0"/>
      <xs:element name="fromcommittedbalance" type="ns1:moneydetailstype" minOccurs="0"/>
      <xs:element name="fromaccountholder" type="xs:string" minOccurs="0"/>
      <xs:element name="originalamount" type="ns1:moneydetailstype" minOccurs="0"/>
      <xs:element name="fromcouponvalue" type="ns1:moneydetailstype" minOccurs="0"/>
      <xs:element name="to" type="xs:string" minOccurs="0"/>
      <xs:element name="toaccount" type="xs:string" minOccurs="0"/>
      <xs:element name="toamount" type="ns1:moneydetailstype" minOccurs="0"/>
      <xs:element name="tofee" type="ns1:moneydetailstype" minOccurs="0"/>
      <xs:element name="toexternalfee" type="ns1:moneydetailstype" minOccurs="0"/>
      <xs:element name="topromotion" type="ns1:moneydetailstype" minOccurs="0"/>
      <xs:element name="toloyfee" type="xs:decimal" minOccurs="0"/>
      <xs:element name="toloyreward" type="xs:decimal" minOccurs="0"/>
      <xs:element name="topromotionrefund" type="ns1:moneydetailstype" minOccurs="0"/>
      <xs:element name="todiscountrefund" type="ns1:moneydetailstype" minOccurs="0"/>
      <xs:element name="tomessage" type="xs:string" minOccurs="0"/>
      <xs:element name="toavailablebalance" type="ns1:moneydetailstype" minOccurs="0"/>
      <xs:element name="tototalbalance" type="ns1:moneydetailstype" minOccurs="0"/>
      <xs:element name="tocommittedbalance" type="ns1:moneydetailstype" minOccurs="0"/>
      <xs:element name="maininstructionid" type="xs:long" minOccurs="0"/>
      <xs:element name="instructionid" type="xs:long" minOccurs="0"/>
      <xs:element name="externaltransactionid" type="xs:string" minOccurs="0"/>
      <xs:element name="transactiontext" type="xs:string" minOccurs="0"/>
      <xs:element name="tofeerefund" type="ns1:moneydetailstype" minOccurs="0"/>
      <xs:element name="fromfeerefund" type="ns1:moneydetailstype" minOccurs="0"/>
      <xs:element name="toaccountholder" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="gettransactionhistoryentrydetailstype">
    <xs:sequence>
      <xs:element name="financialtransactionid" type="xs:long" minOccurs="0"/>
      <xs:element name="fromfri" type="xs:string" minOccurs="0"/>
      <xs:element name="tofri" type="xs:string" minOccurs="0"/>
      <xs:element name="amount" type="xs:decimal" minOccurs="0"/>
      <xs:element name="transfertype" type="tns:transfertype" minOccurs="0"/>
      <xs:element name="date" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="instructionid" type="xs:long" minOccurs="0"/>
      <xs:element name="transactiontype" type="ns1:transactiontype" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="financialinstructiontype">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DEPOSIT"/>
      <xs:enumeration value="REVERSE_DEPOSIT"/>
      <xs:enumeration value="WITHDRAWAL"/>
      <xs:enumeration value="TRANSFER"/>
      <xs:enumeration value="CASH_IN"/>
      <xs:enumeration value="CASH_OUT"/>
      <xs:enumeration value="TRANSFER_TO_VOUCHER"/>
      <xs:enumeration value="TRANSFER_FROM_VOUCHER"/>
      <xs:enumeration value="PAYMENT_SEND"/>
      <xs:enumeration value="PAYMENT_RECEIVE"/>
      <xs:enumeration value="COMMISSIONING"/>
      <xs:enumeration value="FEE"/>
      <xs:enumeration value="PERIODIC_FEE"/>
      <xs:enumeration value="CANCEL_VOUCHER"/>
      <xs:enumeration value="VIEW_ACTIVE_TOKEN"/>
      <xs:enumeration value="VIEW_TOKEN"/>
      <xs:enumeration value="EXPIRE_VOUCHER"/>
      <xs:enumeration value="BALANCE_ENQUIRY"/>
      <xs:enumeration value="TRANSACTION_HISTORY_ENQUIRY"/>
      <xs:enumeration value="REMITTANCE"/>
      <xs:enumeration value="TRANSFER_TO_INVITATION"/>
      <xs:enumeration value="TRANSFER_FROM_INVITATION"/>
      <xs:enumeration value="CANCEL_INVITATION"/>
      <xs:enumeration value="REWARD"/>
      <xs:enumeration value="CASH_OUT_ATM"/>
      <xs:enumeration value="TRANSFER_FROM_VOUCHER_ATM"/>
      <xs:enumeration value="PICKUP"/>
      <xs:enumeration value="REVERSAL"/>
      <xs:enumeration value="REVERSAL_FEE"/>
      <xs:enumeration value="REVERSAL_LOY"/>
      <xs:enumeration value="REVERSAL_COMMISSIONING"/>
      <xs:enumeration value="REVERSAL_TAX"/>
      <xs:enumeration value="REVERSAL_DISCOUNT"/>
      <xs:enumeration value="REVERSAL_PROMOTION"/>
      <xs:enumeration value="ADJUSTMENT"/>
      <xs:enumeration value="ADJUSTMENT_FEE"/>
      <xs:enumeration value="ADJUSTMENT_LOY"/>
      <xs:enumeration value="ADJUSTMENT_COMMISSIONING"/>
      <xs:enumeration value="ADJUSTMENT_TAX"/>
      <xs:enumeration value="ADJUSTMENT_DISCOUNT_PROMOTION"/>
      <xs:enumeration value="BATCH_TRANSFER"/>
      <xs:enumeration value="RESOURCE_INFORMATION_ENQUIRY"/>
      <xs:enumeration value="DEBIT"/>
      <xs:enumeration value="RESOLVE_DEPOSIT"/>
      <xs:enumeration value="SUSPEND_DEPOSIT"/>
      <xs:enumeration value="PAYMENT"/>
      <xs:enumeration value="CUSTODY_ACCOUNTS_TRANSFER"/>
      <xs:enumeration value="EXTERNAL_TRANSFER"/>
      <xs:enumeration value="REFUND"/>
      <xs:enumeration value="INVITE_USER_REWARD"/>
      <xs:enumeration value="ACCEPT_INVITE_REWARD"/>
      <xs:enumeration value="FEE_REFUND"/>
      <xs:enumeration value="TAX"/>
      <xs:enumeration value="DECLINE_INVITATION"/>
      <xs:enumeration value="EXPIRED_INVITATION"/>
      <xs:enumeration value="FLOAT_TRANSFER"/>
      <xs:enumeration value="TRANSFER_TO_ANY_BANK_ACCOUNT"/>
      <xs:enumeration value="TRANSFER_LOY"/>
      <xs:enumeration value="EXTERNAL_TRANSFER_LOY"/>
      <xs:enumeration value="PAYMENT_LOY"/>
      <xs:enumeration value="PAYMENT_SEND_LOY"/>
      <xs:enumeration value="PAYMENT_RECEIVE_LOY"/>
      <xs:enumeration value="DEBIT_LOY"/>
      <xs:enumeration value="REFUND_LOY"/>
      <xs:enumeration value="REVERSAL_USER_LOY"/>
      <xs:enumeration value="COUPONS_REDEEM_COUPON"/>
      <xs:enumeration value="COUPONS_ACQUIRE_COUPON"/>
      <xs:enumeration value="COUPONS_ISSUE_OFFER"/>
      <xs:enumeration value="COUPONS_REDEEMED_COUPON_RATE"/>
      <xs:enumeration value="DEPOSIT_NOTIFICATION"/>
      <xs:enumeration value="WITHDRAWAL_NOTIFICATION"/>
      <xs:enumeration value="REVERSAL_SENDER_NOTIFICATION"/>
      <xs:enumeration value="REVERSAL_RECEIVER_NOTIFICATION"/>
      <xs:enumeration value="LOAN_APPLICATION"/>
      <xs:enumeration value="VIEW_LOAN_REPAYMENTS"/>
      <xs:enumeration value="VIEW_LOAN_DETAILS"/>
      <xs:enumeration value="CREATE_VIRTUAL_CARD"/>
      <xs:enumeration value="VIEW_CARD_DETAILS"/>
      <xs:enumeration value="LINK_PHYSICAL_CARD"/>
      <xs:enumeration value="CARD_DEBIT"/>
      <xs:enumeration value="CARD_REFUND"/>
      <xs:enumeration value="CARD_DEBIT_REVERSAL"/>
      <xs:enumeration value="CARD_REFUND_REVERSAL"/>
      <xs:enumeration value="REVERSAL_BATCH_TRANSFER"/>
      <xs:enumeration value="RECEIVE_REMITTANCE"/>
      <xs:enumeration value="LOAN_REPAYMENT"/>
      <xs:enumeration value="CREATE_CASH_VOUCHER"/>
      <xs:enumeration value="CANCEL_CASH_VOUCHER"/>
      <xs:enumeration value="REDEEM_CASH_VOUCHER"/>
      <xs:enumeration value="RECLAIM_CASH_VOUCHER"/>
      <xs:enumeration value="INITIATE_LOAN_APPLICATION"/>
      <xs:enumeration value="CANCEL_EXPIRED_CASH_VOUCHER"/>
      <xs:enumeration value="UNKNOWN"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="transfertype">
    <xs:restriction base="xs:string">
      <xs:enumeration value="TRANSFER_FEE"/>
      <xs:enumeration value="TRANSFER"/>
      <xs:enumeration value="CASH_IN_FEE"/>
      <xs:enumeration value="CASH_IN"/>
      <xs:enumeration value="CASH_OUT_FEE"/>
      <xs:enumeration value="CASH_OUT"/>
      <xs:enumeration value="DEPOSIT_FEE"/>
      <xs:enumeration value="DEPOSIT"/>
      <xs:enumeration value="REVERSE_DEPOSIT_FEE"/>
      <xs:enumeration value="REVERSE_DEPOSIT"/>
      <xs:enumeration value="WITHDRAWAL_FEE"/>
      <xs:enumeration value="WITHDRAWAL"/>
      <xs:enumeration value="TRANSFER_TO_VOUCHER_FEE"/>
      <xs:enumeration value="TRANSFER_TO_VOUCHER"/>
      <xs:enumeration value="TRANSFER_FROM_VOUCHER_FEE"/>
      <xs:enumeration value="TRANSFER_FROM_VOUCHER"/>
      <xs:enumeration value="PAYMENT_FEE"/>
      <xs:enumeration value="PAYMENT"/>
      <xs:enumeration value="CANCEL_VOUCHER_FEE"/>
      <xs:enumeration value="CANCEL_VOUCHER"/>
      <xs:enumeration value="EXPIRE_VOUCHER_FEE"/>
      <xs:enumeration value="EXPIRE_VOUCHER"/>
      <xs:enumeration value="TRANSFER_TO_INVITATION_FEE"/>
      <xs:enumeration value="TRANSFER_TO_INVITATION"/>
      <xs:enumeration value="TRANSFER_FROM_INVITATION_FEE"/>
      <xs:enumeration value="TRANSFER_FROM_INVITATION"/>
      <xs:enumeration value="CANCEL_INVITATION"/>
      <xs:enumeration value="CASH_OUT_ATM_FEE"/>
      <xs:enumeration value="CASH_OUT_ATM"/>
      <xs:enumeration value="TRANSFER_FROM_VOUCHER_ATM_FEE"/>
      <xs:enumeration value="TRANSFER_FROM_VOUCHER_ATM"/>
      <xs:enumeration value="PICKUP_FEE"/>
      <xs:enumeration value="PICKUP"/>
      <xs:enumeration value="COMMISSIONING"/>
      <xs:enumeration value="VIEW_TOKEN"/>
      <xs:enumeration value="VIEW_ACTIVE_TOKEN"/>
      <xs:enumeration value="BALANCE_ENQUIRY"/>
      <xs:enumeration value="LAST_TRANSACTIONS"/>
      <xs:enumeration value="PERIODIC_FEE"/>
      <xs:enumeration value="REVERSAL"/>
      <xs:enumeration value="REVERSAL_FEE"/>
      <xs:enumeration value="REVERSAL_LOY"/>
      <xs:enumeration value="REVERSAL_COMMISSIONING"/>
      <xs:enumeration value="REVERSAL_TAX"/>
      <xs:enumeration value="REVERSAL_DISCOUNT"/>
      <xs:enumeration value="REVERSAL_PROMOTION"/>
      <xs:enumeration value="ADJUSTMENT"/>
      <xs:enumeration value="ADJUSTMENT_FEE"/>
      <xs:enumeration value="ADJUSTMENT_LOY"/>
      <xs:enumeration value="ADJUSTMENT_COMMISSIONING"/>
      <xs:enumeration value="ADJUSTMENT_TAX"/>
      <xs:enumeration value="ADJUSTMENT_DISCOUNT_PROMOTION"/>
      <xs:enumeration value="BATCH_TRANSFER_FEE"/>
      <xs:enumeration value="BATCH_TRANSFER"/>
      <xs:enumeration value="RESOURCE_INFORMATION_ENQUIRY"/>
      <xs:enumeration value="DEBIT_FEE"/>
      <xs:enumeration value="DEBIT"/>
      <xs:enumeration value="EXTERNAL_PAYMENT_FEE"/>
      <xs:enumeration value="EXTERNAL_PAYMENT"/>
      <xs:enumeration value="CUSTODY_ACCOUNTS_TRANSFER"/>
      <xs:enumeration value="EXTERNAL_TRANSFER_FEE"/>
      <xs:enumeration value="EXTERNAL_TRANSFER"/>
      <xs:enumeration value="REFUND_FEE"/>
      <xs:enumeration value="REFUND"/>
      <xs:enumeration value="INVITE_USER_REWARD"/>
      <xs:enumeration value="ACCEPT_INVITE_REWARD"/>
      <xs:enumeration value="FEE_REFUND"/>
      <xs:enumeration value="TAX"/>
      <xs:enumeration value="DECLINE_INVITATION"/>
      <xs:enumeration value="EXPIRED_INVITATION"/>
      <xs:enumeration value="FLOAT_TRANSFER_FEE"/>
      <xs:enumeration value="FLOAT_TRANSFER"/>
      <xs:enumeration value="TRANSFER_TO_ANY_BANK_ACCOUNT_FEE"/>
      <xs:enumeration value="TRANSFER_TO_ANY_BANK_ACCOUNT"/>
      <xs:enumeration value="DISCOUNT"/>
      <xs:enumeration value="DISCOUNT_REFUND"/>
      <xs:enumeration value="PROMOTION"/>
      <xs:enumeration value="PROMOTION_REFUND"/>
      <xs:enumeration value="TRANSFER_LOY"/>
      <xs:enumeration value="EXTERNAL_TRANSFER_LOY"/>
      <xs:enumeration value="EXTERNAL_PAYMENT_LOY"/>
      <xs:enumeration value="PAYMENT_LOY"/>
      <xs:enumeration value="DEBIT_LOY"/>
      <xs:enumeration value="REFUND_LOY"/>
      <xs:enumeration value="REVERSAL_USER_LOY"/>
      <xs:enumeration value="COUPONS_REDEEM_COUPON"/>
      <xs:enumeration value="COUPONS_ACQUIRE_COUPON_FEE"/>
      <xs:enumeration value="COUPONS_ACQUIRE_COUPON"/>
      <xs:enumeration value="COUPONS_ISSUE_OFFER_FEE"/>
      <xs:enumeration value="COUPONS_ISSUE_OFFER"/>
      <xs:enumeration value="COUPONS_REDEEMED_COUPON_RATE_FEE"/>
      <xs:enumeration value="COUPONS_REDEEMED_COUPON_RATE"/>
      <xs:enumeration value="LOAN_APPLICATION"/>
      <xs:enumeration value="VIEW_LOAN_REPAYMENTS"/>
      <xs:enumeration value="VIEW_LOAN_DETAILS"/>
      <xs:enumeration value="CREATE_VIRTUAL_CARD_FEE"/>
      <xs:enumeration value="CREATE_VIRTUAL_CARD"/>
      <xs:enumeration value="VIEW_CARD_DETAILS_FEE"/>
      <xs:enumeration value="VIEW_CARD_DETAILS"/>
      <xs:enumeration value="LINK_PHYSICAL_CARD_FEE"/>
      <xs:enumeration value="LINK_PHYSICAL_CARD"/>
      <xs:enumeration value="CARD_DEBIT_FEE"/>
      <xs:enumeration value="CARD_DEBIT"/>
      <xs:enumeration value="CARD_REFUND_FEE"/>
      <xs:enumeration value="CARD_REFUND"/>
      <xs:enumeration value="CARD_DEBIT_REVERSAL_FEE"/>
      <xs:enumeration value="CARD_DEBIT_REVERSAL"/>
      <xs:enumeration value="CARD_REFUND_REVERSAL_FEE"/>
      <xs:enumeration value="CARD_REFUND_REVERSAL"/>
      <xs:enumeration value="REVERSAL_BATCH_TRANSFER"/>
      <xs:enumeration value="REVERSAL_BATCH_TRANSFER_FEE"/>
      <xs:enumeration value="LOAN_REPAYMENT"/>
      <xs:enumeration value="LOAN_REPAYMENT_FEE"/>
      <xs:enumeration value="CREATE_CASH_VOUCHER"/>
      <xs:enumeration value="CREATE_CASH_VOUCHER_FEE"/>
      <xs:enumeration value="REDEEM_CASH_VOUCHER"/>
      <xs:enumeration value="REDEEM_CASH_VOUCHER_FEE"/>
      <xs:enumeration value="CANCEL_CASH_VOUCHER"/>
      <xs:enumeration value="CANCEL_CASH_VOUCHER_FEE"/>
      <xs:enumeration value="RECLAIM_CASH_VOUCHER"/>
      <xs:enumeration value="INITIATE_LOAN_APPLICATION"/>
      <xs:enumeration value="INITIATE_LOAN_APPLICATION_FEE"/>
      <xs:enumeration value="CANCEL_EXPIRED_CASH_VOUCHER"/>
      <xs:enumeration value="CANCEL_EXPIRED_CASH_VOUCHER_FEE"/>
      <xs:enumeration value="UNKNOWN"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>

