Resources/AM/parlayx_account_management_interface_3_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- March 8, 2007 -->
<wsdl:definitions
   name="parlayx_account_management_interface"
   targetNamespace="http://www.csapi.org/wsdl/parlayx/account_management/v3_1/interface"
   xmlns="http://schemas.xmlsoap.org/wsdl/"
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:parlayx_account_management="http://www.csapi.org/wsdl/parlayx/account_management/v3_1/interface"
   xmlns:parlayx_common_faults="http://www.csapi.org/wsdl/parlayx/common/v3_0/faults"
   xmlns:parlayx_account_management_xsd="http://www.csapi.org/schema/parlayx/account_management/v3_0"
   xmlns:parlayx_account_management_local_xsd="http://www.csapi.org/schema/parlayx/account_management/v3_1/local">

   <wsdl:import namespace="http://www.csapi.org/wsdl/parlayx/common/v3_0/faults" location="parlayx_common_faults_3_0.wsdl"/>

   <wsdl:types>
      <xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.csapi.org/schema/parlayx/account_management/v3_1/local">
         <xsd:import namespace="http://www.csapi.org/schema/parlayx/account_management/v3_0" schemaLocation="parlayx_account_management_types_3_0.xsd"/>

         <xsd:element name="getBalance" type="parlayx_account_management_local_xsd:getBalance"/>
         <xsd:complexType name="getBalance">
            <xsd:sequence>
               <xsd:element name="endUserIdentifier" type="xsd:anyURI"/>
               <xsd:element name="endUserPin" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            </xsd:sequence>
         </xsd:complexType>

         <xsd:element name="getBalanceResponse" type="parlayx_account_management_local_xsd:getBalanceResponse"/>
         <xsd:complexType name="getBalanceResponse">
            <xsd:sequence>
               <xsd:element name="result" type="parlayx_account_management_xsd:Balance" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:sequence>
         </xsd:complexType>

         <xsd:element name="getCreditExpiryDate" type="parlayx_account_management_local_xsd:getCreditExpiryDate"/>
         <xsd:complexType name="getCreditExpiryDate">
            <xsd:sequence>
               <xsd:element name="endUserIdentifier" type="xsd:anyURI"/>
               <xsd:element name="endUserPin" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            </xsd:sequence>
         </xsd:complexType>

         <xsd:element name="getCreditExpiryDateResponse" type="parlayx_account_management_local_xsd:getCreditExpiryDateResponse"/>
         <xsd:complexType name="getCreditExpiryDateResponse">
            <xsd:sequence>
               <xsd:element name="result" type="parlayx_account_management_xsd:BalanceExpireDetails" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:sequence>
         </xsd:complexType>

         <xsd:element name="balanceUpdate" type="parlayx_account_management_local_xsd:balanceUpdate"/>
         <xsd:complexType name="balanceUpdate">
            <xsd:sequence>
               <xsd:element name="endUserIdentifier" type="xsd:anyURI"/>
               <xsd:element name="endUserPin" type="xsd:string" minOccurs="0" maxOccurs="1"/>
               <xsd:element name="referenceCode" type="xsd:string"/>
               <xsd:element name="balanceType" type="xsd:string"/>
               <xsd:element name="amount" type="xsd:decimal"/>
               <xsd:element name="period" type="xsd:int" minOccurs="0" maxOccurs="1"/>
            </xsd:sequence>
         </xsd:complexType>

         <xsd:element name="balanceUpdateResponse" type="parlayx_account_management_local_xsd:balanceUpdateResponse"/>
         <xsd:complexType name="balanceUpdateResponse">
            <xsd:sequence/>
         </xsd:complexType>

         <xsd:element name="voucherUpdate" type="parlayx_account_management_local_xsd:voucherUpdate"/>
         <xsd:complexType name="voucherUpdate">
            <xsd:sequence>
               <xsd:element name="endUserIdentifier" type="xsd:anyURI"/>
               <xsd:element name="endUserPin" type="xsd:string" minOccurs="0" maxOccurs="1"/>
               <xsd:element name="referenceCode" type="xsd:string"/>
               <xsd:element name="voucherIdentifier" type="xsd:string"/>
               <xsd:element name="voucherPin" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            </xsd:sequence>
         </xsd:complexType>

         <xsd:element name="voucherUpdateResponse" type="parlayx_account_management_local_xsd:voucherUpdateResponse"/>
         <xsd:complexType name="voucherUpdateResponse">
            <xsd:sequence/>
         </xsd:complexType>

         <xsd:element name="getHistory" type="parlayx_account_management_local_xsd:getHistory"/>
         <xsd:complexType name="getHistory">
            <xsd:sequence>
               <xsd:element name="endUserIdentifier" type="xsd:anyURI"/>
               <xsd:element name="endUserPin" type="xsd:string" minOccurs="0" maxOccurs="1"/>
               <xsd:element name="date" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
               <xsd:element name="maxEntries" type="xsd:int" minOccurs="0" maxOccurs="1"/>
            </xsd:sequence>
         </xsd:complexType>

         <xsd:element name="getHistoryResponse" type="parlayx_account_management_local_xsd:getHistoryResponse"/>
         <xsd:complexType name="getHistoryResponse">
            <xsd:sequence>
               <xsd:element name="result" type="parlayx_account_management_xsd:DatedTransaction" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
         </xsd:complexType>

         <xsd:element name="getBalanceTypes" type="parlayx_account_management_local_xsd:getBalanceTypes"/>
         <xsd:complexType name="getBalanceTypes">
            <xsd:sequence>
               <xsd:element name="endUserIdentifier" type="xsd:anyURI"/>
               <xsd:element name="endUserPin" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            </xsd:sequence>
         </xsd:complexType>

         <xsd:element name="getBalanceTypesResponse" type="parlayx_account_management_local_xsd:getBalanceTypesResponse"/>
         <xsd:complexType name="getBalanceTypesResponse">
            <xsd:sequence>
               <xsd:element name="result" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:schema>
   </wsdl:types>

   <wsdl:message name="AccountManagement_getBalanceRequest">
      <wsdl:part name="parameters" element="parlayx_account_management_local_xsd:getBalance"/>
   </wsdl:message>

   <wsdl:message name="AccountManagement_getBalanceResponse">
      <wsdl:part name="result" element="parlayx_account_management_local_xsd:getBalanceResponse"/>
   </wsdl:message>

   <wsdl:message name="AccountManagement_getCreditExpiryDateRequest">
      <wsdl:part name="parameters" element="parlayx_account_management_local_xsd:getCreditExpiryDate"/>
   </wsdl:message>

   <wsdl:message name="AccountManagement_getCreditExpiryDateResponse">
      <wsdl:part name="result" element="parlayx_account_management_local_xsd:getCreditExpiryDateResponse"/>
   </wsdl:message>

   <wsdl:message name="AccountManagement_balanceUpdateRequest">
      <wsdl:part name="parameters" element="parlayx_account_management_local_xsd:balanceUpdate"/>
   </wsdl:message>

   <wsdl:message name="AccountManagement_balanceUpdateResponse">
      <wsdl:part name="result" element="parlayx_account_management_local_xsd:balanceUpdateResponse"/>
   </wsdl:message>

   <wsdl:message name="AccountManagement_voucherUpdateRequest">
      <wsdl:part name="parameters" element="parlayx_account_management_local_xsd:voucherUpdate"/>
   </wsdl:message>

   <wsdl:message name="AccountManagement_voucherUpdateResponse">
      <wsdl:part name="result" element="parlayx_account_management_local_xsd:voucherUpdateResponse"/>
   </wsdl:message>

   <wsdl:message name="AccountManagement_getHistoryRequest">
      <wsdl:part name="parameters" element="parlayx_account_management_local_xsd:getHistory"/>
   </wsdl:message>

   <wsdl:message name="AccountManagement_getHistoryResponse">
      <wsdl:part name="result" element="parlayx_account_management_local_xsd:getHistoryResponse"/>
   </wsdl:message>

   <wsdl:message name="AccountManagement_getBalanceTypesRequest">
      <wsdl:part name="parameters" element="parlayx_account_management_local_xsd:getBalanceTypes"/>
   </wsdl:message>

   <wsdl:message name="AccountManagement_getBalanceTypesResponse">
      <wsdl:part name="result" element="parlayx_account_management_local_xsd:getBalanceTypesResponse"/>
   </wsdl:message>

   <wsdl:portType name="AccountManagement">
      <wsdl:operation name="getBalance">
         <wsdl:input message="parlayx_account_management:AccountManagement_getBalanceRequest"/>
         <wsdl:output message="parlayx_account_management:AccountManagement_getBalanceResponse"/>
         <wsdl:fault name="ServiceException" message="parlayx_common_faults:ServiceException"/>
         <wsdl:fault name="PolicyException" message="parlayx_common_faults:PolicyException"/>
      </wsdl:operation>

      <wsdl:operation name="getCreditExpiryDate">
         <wsdl:input message="parlayx_account_management:AccountManagement_getCreditExpiryDateRequest"/>
         <wsdl:output message="parlayx_account_management:AccountManagement_getCreditExpiryDateResponse"/>
         <wsdl:fault name="ServiceException" message="parlayx_common_faults:ServiceException"/>
         <wsdl:fault name="PolicyException" message="parlayx_common_faults:PolicyException"/>
      </wsdl:operation>

      <wsdl:operation name="balanceUpdate">
         <wsdl:input message="parlayx_account_management:AccountManagement_balanceUpdateRequest"/>
         <wsdl:output message="parlayx_account_management:AccountManagement_balanceUpdateResponse"/>
         <wsdl:fault name="ServiceException" message="parlayx_common_faults:ServiceException"/>
         <wsdl:fault name="PolicyException" message="parlayx_common_faults:PolicyException"/>
      </wsdl:operation>

      <wsdl:operation name="voucherUpdate">
         <wsdl:input message="parlayx_account_management:AccountManagement_voucherUpdateRequest"/>
         <wsdl:output message="parlayx_account_management:AccountManagement_voucherUpdateResponse"/>
         <wsdl:fault name="ServiceException" message="parlayx_common_faults:ServiceException"/>
         <wsdl:fault name="PolicyException" message="parlayx_common_faults:PolicyException"/>
      </wsdl:operation>

      <wsdl:operation name="getHistory">
         <wsdl:input message="parlayx_account_management:AccountManagement_getHistoryRequest"/>
         <wsdl:output message="parlayx_account_management:AccountManagement_getHistoryResponse"/>
         <wsdl:fault name="ServiceException" message="parlayx_common_faults:ServiceException"/>
         <wsdl:fault name="PolicyException" message="parlayx_common_faults:PolicyException"/>
      </wsdl:operation>

      <wsdl:operation name="getBalanceTypes">
         <wsdl:input message="parlayx_account_management:AccountManagement_getBalanceTypesRequest"/>
         <wsdl:output message="parlayx_account_management:AccountManagement_getBalanceTypesResponse"/>
         <wsdl:fault name="ServiceException" message="parlayx_common_faults:ServiceException"/>
         <wsdl:fault name="PolicyException" message="parlayx_common_faults:PolicyException"/>
      </wsdl:operation>
   </wsdl:portType>
</wsdl:definitions>
