Resources/USSD/osg_ussd_redirect_interface_1_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- July 14, 2005 -->
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:osg_ussd_redirect="http://www.csapi.org/wsdl/parlayx/ussd/redirect/v1_0/interface" xmlns:osg_common_faults="http://www.csapi.org/wsdl/parlayx/common/v2_0/faults" xmlns:osg_ussd_xsd="http://www.csapi.org/schema/parlayx/ussd/v1_0" xmlns:osg_common_xsd="http://www.csapi.org/schema/parlayx/common/v2_1" xmlns:parlayx_common_xsd="http://www.csapi.org/schema/parlayx/common/v2_1" xmlns:parlayx_common_head_xsd="http://www.huawei.com.cn/schema/common/v2_1" xmlns:osg_ussd_redirect_local_xsd="http://www.csapi.org/schema/parlayx/ussd/redirect/v1_0/local" name="osg_ussd_redirect_interface" targetNamespace="http://www.csapi.org/wsdl/parlayx/ussd/redirect/v1_0/interface">
	<wsdl:import namespace="http://www.csapi.org/wsdl/parlayx/common/v2_0/faults" location="parlayx_common_faults_2_0.wsdl"/>
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.csapi.org/schema/parlayx/ussd/redirect/v1_0/local">
			<xsd:import namespace="http://www.csapi.org/schema/parlayx/common/v2_1" schemaLocation="parlayx_common_types_2_1.xsd"/>
			<xsd:complexType name="NamedParameterList">
				<xsd:sequence>
					<xsd:element name="item" type="osg_ussd_redirect_local_xsd:NamedParameter" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="NamedParameter">
				<xsd:sequence>
					<xsd:element name="key" type="xsd:string"/>
					<xsd:element name="value" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="redirectUssd" type="osg_ussd_redirect_local_xsd:redirectUssd"/>
			<xsd:complexType name="redirectUssd">
				<xsd:sequence>
					<xsd:element name="senderCB" type="xsd:string"/>
					<xsd:element name="receiveCB" type="xsd:string"/>
					<xsd:element name="msIsdn" type="xsd:string"/>
					<xsd:element name="serviceCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="extenionInfo" type="osg_ussd_redirect_local_xsd:NamedParameterList" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="redirectUssdResponse" type="osg_ussd_redirect_local_xsd:redirectUssdResponse"/>
			<xsd:complexType name="redirectUssdResponse">
				<xsd:sequence>
					<xsd:element name="result" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="RedirectUssd_redirectUssdRequest">
		<wsdl:part name="parameters" element="osg_ussd_redirect_local_xsd:redirectUssd"/>
	</wsdl:message>
	<wsdl:message name="RedirectUssd_redirectUssdResponse">
		<wsdl:part name="result" element="osg_ussd_redirect_local_xsd:redirectUssdResponse"/>
	</wsdl:message>
	<wsdl:portType name="RedirectUssd">
		<wsdl:operation name="redirectUssd">
			<wsdl:input message="osg_ussd_redirect:RedirectUssd_redirectUssdRequest"/>
			<wsdl:output message="osg_ussd_redirect:RedirectUssd_redirectUssdResponse"/>
			<wsdl:fault name="ServiceException" message="osg_common_faults:ServiceException"/>
			<wsdl:fault name="PolicyException" message="osg_common_faults:PolicyException"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
