Resources/MobileMoney-ECW/MT/cancelbatchtransfer.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://www.ericsson.com/em/emm" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="cancelbatchtransferrequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="batchid" type="xs:long"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="cancelbatchtransferresponse">
    <xs:complexType>
      <xs:sequence/>
    </xs:complexType>
  </xs:element>
</xs:schema>

